.home{
    flex: 1;
    /*margin-left: 200px;*/
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.wrapper {
    margin: 0 auto;
    padding-left: 150px;
}

.wrapper .row1 {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    margin: 10px;
}

.upper {
    width: 300px;
    height: 150px;
    padding: 15px;
    text-align: center;
    background-color: whitesmoke;
    cursor: pointer;
}

.wrapper .row2 {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
}

.row2 .person {
    width: 300px;
    height: 150px;
    text-align: center;
    padding: 15px;
    margin: 10px;
    background-color: whitesmoke;
    cursor: pointer;
}

.upper .icon,
.row2 .person .icon,
.row3 .lower .icon {
    font-size: 50px;
}

.wrapper .row3 {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 auto;
}

.wrapper .row3 .lower {
    width: 400px;
    height: 150px;
    text-align: center;
    padding: 15px;
    margin: 10px;
    background-color: whitesmoke;
    cursor: pointer;
}

.wrapper .row3 .access {
    width: 500px;
}

.wrapper .access .access-header {
    display: grid;
    grid-template-columns: auto auto;
    border-bottom: 2px solid black;
    margin-bottom: 0;
    padding-bottom: 0;
}

.wrapper .row3 .access .access-header .icon {
    font-size: 25px;
    margin-left: 50px;
}

.wrapper .row3 .access .access-header h3 {
    font-size: 25px;
    margin-right: 50px;
}

.wrapper .row3 .access ul {
    font-size: 20px;
    text-align: left;
}

.wrapper .row3 .access ul > li:hover{
    cursor: pointer;
    border-bottom: 2px solid black;
}
