.ListStaffs h1 {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 0;
}

.ListStaffs .Wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 300px;
}

.ListStaffs .Wrapper .staff {
    width: 200px;
    height: 200px;
    margin: 20px;
    background-color: gainsboro;
}